<ion-view title="Contato" id="page12" style="background-color:#A9C4CA;">
    <ion-content padding="true" class="has-header">
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/nk46SYITfW82Xmcdm3hf_contato-luciano-braga-e1402681369426.jpg" width="100%" height="180" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 15px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Assunto</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="contato-button10" style="color:#131010;" class="button button-positive  button-block">Enviar</button>
        <div id="contato-markdown9" style="color:#000000;text-align:center;">
            <p>ETEC Dra. Ruth Cardoso Praça Coronel José Lopes, 387 – Centro – São Vicente /SP</p>

            <p>Telefone: (13) 3467-7153 (13) 3467-2955</p>
        </div>
    </ion-content>
</ion-view>