<ion-view title="Empresa" id="page9" style="background-color:#A9C4CA;">
    <ion-content padding="true" class="has-header">
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/MEh5FvW9QpGtpKx6Nc6Z_etec.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h2 id="empresa-heading9" style="color:#000000;text-align:center;">Missão</h2>
        <div id="empresa-markdown10" style="color:#000000;text-align:center;">
            <p>Oferecer a Educação Básica e Educação Profissional aos jovens e adultos do município de São Vicente e região para que sejam felizes, produtivos, capazes de melhorar sua própria vida e de todos os espaços em que convivem.</p>
        </div>
        <div class="spacer" style="width: 283px; height: 21px;"></div>
        <h1 id="empresa-heading10" style="color:#000000;text-align:center;">Visão</h1>
        <div id="empresa-markdown11" style="color:#000000;text-align:center;">
            <p>Ser uma Etec reconhecida na região pelos padrões de qualidade no oferecimento da Educação Básica (Ensino Médio) e Educação Profissional, articulada com o mercado de trabalho para diminuir a distância entre a escola e a empregabilidade.</p>
        </div>
        <div class="spacer" style="width: 283px; height: 17px;"></div>
        <h1 id="empresa-heading11" style="color:#000000;text-align:center;">Valores</h1>
        <div id="empresa-markdown12" style="color:#000000;text-align:center;">
            <p>União, cooperação, envolvimento, pertencimento, tolerância, solidariedade, dizer a verdade e aceitação do outro.</p>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="width: 283px; height: 6px;"></div>
    </ion-content>
</ion-view>