<ion-view title="Serviço" id="page11" style="background-color:#A9C4CA;">
    <ion-content padding="true" class="has-header">
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/ahyObsxCSHuKEYChk2zK_ionic-logo-tableless.gif" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 17px;"></div>
        <div id="serviO-markdown7" style="color:#000000;text-align:center;">
            <p>Framework front-end para o desenvolvimento de aplicativos móveis, que entrega um conjunto rico de elementos de mobile UI, unindo excelentes tecnologias como Apache Cordova, AngularJS e Sass.</p>
        </div>
        <div class="spacer" style="width: 283px; height: 17px;"></div>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/Dc900BgT5Wc0URPQ6VrP_cordova1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <div id="serviO-markdown8" style="color:#000000;text-align:center;">
            <p>O Apache Cordova é uma plataforma de desenvolvimento móvel com APIs que permitem que o desenvolvedor acesse funções nativas do dispositivo, como a câmera ou o acelerômetro.</p>

            <p>O desenvolvimento com o Cordova é feito com HTML, CSS e JavaScript e pode ser feito em conjunto com frameworks mobile como jQuery Mobile, Dojo Mobile, Sencha Touch, Ionic, Lungo, Mobile Angular UI.</p>
        </div>
        <h1 id="serviO-heading8" style="color:#000000;"></h1>
    </ion-content>
</ion-view>